/*  your css code here. If applicable */
.container{
	background-color:#cccccc;
}
h1{
	text-align:center;
}
.player_one{
	background-color:white;
	border:2px solid grey;
	margin:20px 20px;
	border-radius:5px;
	padding-bottom:20px;
	padding-top:20px;
}
.limit{
	position:relative;
	max-width:400px;
	background-color:white;
	left:35%;
}
li{
	list-style-type:none;
}
.player_two{
	background-color:rgb(255, 255, 255);
}
body{
	background-color:rgb(204, 204, 204);
}
h2{
	background-color:#cccccc !important;
}
a{
	text-decoration-line:none;
}